@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

// variables
$lightprimary: #fdf7ed;
$darksecondary: #f1a41e;
$greenColor: #30a08d;
$lightsecondary: #f8e3be;

@mixin displayFlex() {
  display: flex;
  align-items: center;
  justify-content: center;
}

.signup {
  width: 100%;
  height: 100vh;
  background-color: $lightprimary;
}

.signup_container {
  height: 100vh;
  @include displayFlex();
  flex-direction: column;
}
.signup_container_svg {
  width: 50%;
  height: inherit;
  background-color: $lightsecondary;
  @include displayFlex();
  img {
    height: inherit;
    width: inherit;
  }
}
.signup_container_svg::after {
  content: "Welcome to krishi";
  left: 13%;
  top: 5%;
  font-size: 2.5rem;
  @include displayFlex();
  font-family: "Dancing Script", cursive;
  position: absolute;
}
.signup_container_form form {
  height: inherit;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.signup_container_form {
  width: 100%;
  padding: 7%;
  padding-top: 0%;
  padding-bottom: 0%;
  @include displayFlex();
  span {
    position: absolute;
    right: 1rem;
    top: 1rem;
  }
  .loginLink {
    color: blue;
    text-decoration: none;
  }
  h2 {
    margin: 1rem;
  }
  label {
    font-weight: bolder;
  }

  .textfield {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
.inputContainer {
  display: flex;
  flex-direction: column;
}
.title {
  font-family: "Dancing Script", cursive;
  font-size: 2.5rem;
}
.signup_btn {
  font-weight: bolder;
  color: white;
  background-color: $greenColor;
  border: 1px solid $greenColor;
  padding: 0.5rem;
  border-radius: 0.4rem;
  cursor: pointer;
  transition: all 0.5s;
}
